
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../Css/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="../Js/js/bootstrap.min.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Registro Estadofinanciero </h1>       
        <form action="../../View/Viewlogin/Estadofinancieroviewlogic.php" method="post">
            <div align="center">
             <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#">inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Html/Login.html">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../Html/Administrador.html">Administrador</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../Html/Estadofinanciero.html">Estadofinanciero</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../Html/Estudiantes.html">Estudiantes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../Html/Horarioclase.html">Horarioclase</a>
                    </li>
                     <li class="nav-item">
                         <a class="nav-link" href="../Html/Secretaria.html">Secretaria</a>
                    </li>
                     <li class="nav-item">
                      <a class="nav-link" href="../Html/Tutor.html">Tutor</a>
                    </li>
                     <li class="nav-item">
                      <a class="nav-link" href="../Html/aulas.html">aulas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled">Disabled</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled">Disabled</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
                    <table>
                         <tr>
                            <td>
                                <img src="../Img/miller.jpg" alt="150"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Registrar Identificacion 
                                <input class="form-control" type="text" name="identifcacion"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Registrar Nombre 
                                <input class="form-control" type="text" name="Nombre"/>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                               Registrar Segundo Nombre
                                <input class="form-control" type="text" name="SegundoNombre"/> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 Registrar Apellido
                                 <input  class="form-control" type="text"  name="Apellido"/> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 Registrar Segundo Apellido
                                 <input class="form-control" type="text" name="SegundoApellido"/> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Registrar Programa
                                  <input class="form-control" type="text" name="Programa"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Registrar semestre
                               <input class="form-control" type="text" name="semestre"/> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 Registrar Pagoparcial
                                 <input class="form-control" type="text" name="Pagoparcial"/> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Registrar Pagocovenios
                                 <input class="form-control" type="text" name="Pagocovenios"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 Registrar Pagoordinaria
                                 <input class="form-control" type="text" name="Pagoordinaria"/>
                            </td>
                        </tr>
                             <tr>
                            <td>
                                Registrar Prontopago
                                 <input class="form-control" type="text" name="Prontopago"/> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Registrar Pagoextemporanea
                                 <input class="form-control" type="text" name="Pagoextemporanea"/>
                            </td>
                        </tr>
                            <td>
                               <input class="btn btn-primary" type="submit" value ="Registra"/>
                            </td>
                            </tr>
                     </table>
                   </div>
               <table>
             <tr>
                 <td>
                     <a href="../Html/Login.html">
                      Login 
                     </a>
                 </td>
             </tr>
                   
            <tr>
                 <td>
                     <a href="../Html/Administrador.html">
                       Administrador  
                     </a>
                 </td>
             </tr>
               <tr>
                 <td>
                     <a href="../Html/Estadofinanciero.html">
                     Estadofinanciero 
                     </a>
                 </td>
             </tr>
               <tr>
                 <td>
                     <a href="../Html/Estudiantes.html">
                       Estudiantes  
                     </a>
                 </td>
             </tr>
              <tr>
                 <td>
                     <a href="../Html/Horarioclase.html">
                       Horarioclase  
                     </a>
                 </td>
             </tr>
              <tr>
                 <td>
                     <a href="../Html/Secretaria.html">
                      Secretaria  
                     </a>
                 </td>
             </tr>
             <tr>
                 <td>
                     <a href="../Html/Tutor.html">
                      Tutor  
                     </a>
                 </td>
             </tr>
              <tr>
                 <td>
                     <a href="../Html/aulas.html">
                      aulas  
                     </a>
                 </td>
             </tr>
         </table>     
                    
        </form>
        
    </body>
</html>